.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 40px;
}
.again__btn {
  font-size: var(--size-base);
}

.header__title {
  font-size: var(--size-base);
  text-transform: uppercase;
  text-align: center;
  max-width: 21ch;
}

/* xs */
@media (min-width: 475px) {
  .again__btn {
    font-size: var(--size-lg);
  }

  .header__title {
    font-size: var(--size-lg);
  }
  .header {
    margin-bottom: 60px;
  }
}

/* Sm */
@media (min-width: 640px) {
  .header__title {
    font-size: var(--size-lg);
    max-width: 30ch;
  }
  .header {
    margin-bottom: 80px;
  }
}

/* md */
@media (min-width: 768px) {
  .again__btn {
    font-size: var(--size-xl);
  }

  .header__title {
    font-size: var(--size-xl);
  }
  .header {
    margin-bottom: 100px;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .again__btn {
    font-size: var(--size-2xl);
  }

  .header__title {
    font-size: var(--size-2xl);
  }
  .header {
    margin-bottom: 120px;
  }
}

/* xL */
/* @media (min-width: 1280px) {}  */

/* 2xL */
@media (min-width: 1536px) {
  .again__btn {
    font-size: var(--size-3xl);
  }

  .header__title {
    font-size: var(--size-3xl);
  }
}
